@import "tailwindcss";

@theme {
    --font-sans: "Inter", sans-serif; 
    --font-serif: "DM Serif Display", serif;
    --color-revred: #D24747;
    --color-lightblack: #111;
  }


/* Site Header */

.site-header {
    transform: translateY(0);
    transition: all 0.2s;

    &:not(.site-header--inverted).site-header--hidden {
        transform: translateY(-100%);
    }
}

/* Photo Hover Effect */
.photo-hover {
    transition: filter 0.3s ease;
}
  
.photo-hover:hover {
    filter: brightness(66%);
}