@import "tailwindcss";

@theme {
    --font-sans: "Inter", sans-serif; 
    --font-serif: "DM Serif Display", serif;
    --color-revred: #D24747;
    --color-lightblack: #111;
  }


/* Site Header */

.site-header {
    transform: translateY(0);
    transition: all 0.2s;

    &:not(.site-header--inverted).site-header--hidden {
        transform: translateY(-100%);
    }
}

/* Photo Hover Effect */

.image-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
  }
  
  .image-container img {
    display: block;
    width: 100%;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .image-container:hover .overlay {
    opacity: 1;
  }